@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #262626;
}

@keyframes heroanm {
  
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.hero h1 {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
  color: #DEE5F5;
}

.hero span {
	color: #C393C2;
}